[submodule "wvr-demo"]
	path = wvr-demo
	url = https://github.com/gurkeclub/wvr-demo
[submodule "wvr-examples"]
	path = wvr-examples
	url = https://github.com/gurkeclub/wvr-examples.git
[submodule "windows/wvr-data/projects/wvr-examples"]
	path = windows/wvr-data/projects/wvr-examples
	url = https://github.com/gurkeclub/wvr-examples
[submodule "windows/wvr-data/libs/std"]
	path = windows/wvr-data/libs/std
	url = https://github.com/gurkeclub/wvr-glsl-lib-std.git
